<div >
  <div class="upperHeader">
    <h2>
      Title
    </h2>
    <h2>Listen</h2>
  </div>
  <div>
    {{#each this.tracksSearchResult}}
      <div class="songList">
        <p>{{this.name}}</p>
        <audio controls>
          <source src="{{this.preview_url}}" type="audio/mpeg" />
        </audio>
      </div>
    {{/each}}
  </div>
</div>